.bestSellerContainer{
    margin-top: 34px;

}

.filterContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filterHeading h3{
    font-size: 30px;
}

.categoryFilter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}